<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.epam.hotel.web.filter.impl.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.epam.hotel.web.filter.impl.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>ReviewsModeration</filter-name>
    <filter-class>com.epam.hotel.web.filter.impl.ReviewsModerationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ReviewsModeration</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>OrdersWaitingConfirmationFilter</filter-name>
    <filter-class>com.epam.hotel.web.filter.impl.NeedConfirmationOrdersFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OrdersWaitingConfirmationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>



  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.epam.hotel.web.ControllerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/ControllerServlet</url-pattern>
  </servlet-mapping>

  <!-- Admin URL -->
  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.epam.hotel.web.ControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>

  <!-- User URL-->

  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>com.epam.hotel.web.ControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>



  <!-- General -->


  <servlet>
    <servlet-name>Main</servlet-name>
    <servlet-class>com.epam.hotel.web.ControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RoomList</servlet-name>
    <servlet-class>com.epam.hotel.web.ControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RoomList</servlet-name>
    <url-pattern>/main/rooms</url-pattern>
  </servlet-mapping>


  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/jsp/Error.jsp</location>
  </error-page>


</web-app>
